/* CORE STYLES */
:root {
    --primary-color: rgba(24, 39, 51 , 0.34);
    --overlay-color: rgba(24, 39, 51 , 0.85);
    --menu-speed: 0.75s;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    font-family: 'Roboto', white;
    line-height: 1.4;
    background-color:transparent;

}

.container2 {
    max-width: 960px;
    margin: auto;
    overflow: hidden;
    padding: 0 3rem;
    color:white;

}

.showcase {
    background: var(--primary-color);
    color: #fff;
    height: 100vh;
    position: relative;

}

footer{
    background: #833ab4;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4a4e4d , #0e9aa7 , #3da4ab , #f6cd61 , #fe8a71);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2e003e ,#3d2352 ,#0e9aa7 , #3da4ab , #f6cd61 , #fe8a71); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.showcase:before {
    content: '';
    background-image: url("../images/harta.jpg");
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.showcase .showcase-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
    color:white;

}

.showcase h1 {
    font-size: 4rem;
    color:white;
}

.showcase p {
    font-size: 1.3rem;
    color:white;
}

.btn {
    display: inline-block;
    border: none;
    background: midnightblue;
    color: #fff;
    padding: 0.75rem 1.5rem;
    margin-top: 1rem;
    transition: opacity 1s ease-in-out;
    text-decoration: none;
}

.btn:hover {
    opacity: 0.7;
}

